In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./19k_same_distribution.csv")
df.head()

       essay_id                                          full_text  score
0       000d118  Many people have car where they live. The thin...      3
1  0016926B079C  I think that students would benefit from learn...      3
2       002ba53  Dear, State Senator\n\nThis is a letter to arg...      3
3       0030e86  If I were to choose between keeping the electo...      4
4       0033bf4  What is the Seagoing Cowboys progam?\n\nIt was...      3

In [3]:
df["score"].mean(), df["score"].std()

(2.99575151546552, 0.9725680876911655)

In [4]:
df = pd.read_csv("./train.csv")
df.head()

  essay_id                                          full_text  score
0  000d118  Many people have car where they live. The thin...      3
1  000fe60  I am a scientist at NASA that is discussing th...      3
2  001ab80  People always wish they had the same technolog...      4
3  001bdc0  We all heard about Venus, the planet without a...      4
4  002ba53  Dear, State Senator\n\nThis is a letter to arg...      3

In [5]:
df["score"].mean(), df["score"].std()

(2.948402380539666, 1.0448987683689697)